@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,600");
@import url("css/normalize.css");
@import url("css/skeleton.css");

$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}
