$color-one: #1a0803;
$color-two: #621302;
$color-three: #bb3f09;
$color-four: #ef7d01;
$color-five: #f8bd55;
$body-color: white;
$bg-color: $color-one;

@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,600");
@import url("css/normalize.css");
@import url("css/skeleton.css");

body {
  color: $body-color;
  background-color: $bg-color;
  font-family: Raleway, sans-serif;
}

.color-one {
  color: $color-one;
}

.color-two {
  color: $color-two;
}

.color-three {
  color: $color-three;
}

.color-four {
  color: $color-four;
}

.color-five {
  color: $color-five;
}
